* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  --font-colour: rgb(255, 255, 255);
}

button,
input {
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  outline: none;
}

button {
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

input {
  width: 75%;
  padding: 10px;
  border-radius: 5px;
}

.project-column {
  background-color: #89d1fe;
  width: 20%;
  height: 100vh;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 75%;
  margin-top: 25px;
  background-color: #89d1fe;
}

.project-title {
  display: flex;
  align-items: center;
  margin-top: 25px;
  font-size: 30px;
}

.project-title h2,
i {
  margin: 0 25px 0 25px;
}

.fa-plus-circle {
  color: #29c264;
  background-color: white;
  border-radius: 25px;
  cursor: pointer;
}

.add-project-popup {
  width: 100%;
  padding: 10px;
  text-align: center;
  display: none;
}

.add-project-popup.active {
  display: block;
}

.input-add-project-popup {
  border: 1px solid #aaa;
  margin-bottom: 10px;
}

.add-project-popup-buttons {
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.button-add-project-popup {
  border: 1px solid #99dd99;
  background-color: #aaffaa;
  font-weight: bold;
}

.button-cancel-project-popup {
  border: 1px solid #eeadad;
  background-color: #ffbebe;
  font-weight: bold;
}

.button-add-project-popup:hover {
  background-color: #a6f0a6;
}

.button-cancel-project-popup:hover {
  background-color: #f5b2b2;
}

.project-list h4 {
  font-size: 35px;
  margin: 45px;
  color: var(--font-colour);
  cursor: pointer;
  text-align: center;
}

.todo-column {
  background-color: #4eb2f5;
  width: 80%;
  height: 100vh;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  opacity: 1;
  transition: opacity 0.3s;
  pointer-events: auto;
}

.form-container {
  z-index: 5;
  display: none;
  position: absolute;
  left: 50%;
  top: 25%;
  box-shadow: 4px 4px 2px rgb(143, 143, 145);
  border-radius: 20px;
}

.form {
  background-color: #e6e6e6;
  border-radius: 20px;
  box-sizing: border-box;
  height: 520px;
  padding: 20px;
  width: 320px;
}

.title {
  color: rgb(0, 0, 0);
  font-size: 36px;
  font-weight: 400;
  margin-top: 10px;
  text-align: center;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
  margin-top: 30px;
}

.input {
  background-color: #ffffff;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.color-input-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.color-input-container label {
  font-size: 20px;
  font-weight: 500;
}

.prio-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.prio-input::-webkit-color-swatch {
  border-radius: 5px;
  border: none;
}

.prio-input::-moz-color-swatch {
  border-radius: 5px;
  border: none;
}

.placeholder {
  color: #000000;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.add-todo-buttons {
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.todo-card {
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 75%;
}

.todo-card img {
  width: 30px;
  cursor: pointer;
}

.project-details {
  font-size: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 35px 60px 15px 60px;
}

.project-details input {
  background-color: #e0e0e0;
  width: 50%;
  padding: 0;
}

.todo {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  margin: 15px 20px 15px 20px;
  padding: 15px 40px 15px 40px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.fa-square-check {
  color: #29c264;
  background-color: #f5f5f5;
  cursor: pointer;
}

.dual-btn img {
  margin-right: 30px;
}

.todo-title {
  display: flex;
  align-items: center;
}

.todo-title button {
  margin-left: 25px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;
}

.task-title {
  background-color: transparent;
  width: 100px;
}

.todo-task-date {
  width: 25%;
  font-size: 16px;
}

.task-details {
  background-color: transparent;
  width: 70%;
  font-size: 18px;
}
